#a5l-logo {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 100px;
	height: 100px;
	background: url("../img/a5l_logo.png") no-repeat;
	background-size: 100% 72%;
}

#sponsor-slide {
	display: flex;
}

#sponsors-container {
	display: flex;
	flex-direction: row;
    flex: 1;
}

span.yellow-text{
	color: #ffe574;
}

span.black-title{
	color: black;
	text-shadow: none;
}

span.warning-text{
	color: #FF7575;
}

span.white-text{
	color: white;
}

/*---------------------------*/
/*      Premium Sponsors     */
/*---------------------------*/

#premium-sponsors-container {
	flex: 1;
	/*flex-direction: column;*/
}

#premium-sponsors-logos-container {
	/*flex-direction: column;*/
	flex: 1;
	background-color: #eeecec;
}

.premium-sponsor-logo-container {
	display: block;
	flex: 1;
	height: 100%;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
	height: 175px;
	background-size: 60%;
}

/*---------------------------*/
/*     Normal Sponsors       */
/*---------------------------*/

#normal-sponsor-container {
	flex: 1;
}

#normal-sponsors-logos-container {
	flex-direction: row;
	display: flex;
	background-color: #eeecec;
}

.normal-sponsors-column {
	flex-direction: column;
	display: flex;
	flex: 1;
}

.normal-sponsor-logo-container {
	display: block;
	flex: 1;
	flex: 33%;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
	height: 175px;
	background-size: 60%;
}

/*---------------------------*/
/*        Logo's             */
/*---------------------------*/

#sogeti-logo {
	background-image: url("../img/sponsors/sogeti-logo.png");
}

#nutanix-logo {
	background-image: url("../img/sponsors/nutanix-logo.png");
}

#ogd-logo {
	background-image: url("../img/sponsors/ogd-logo.png");
}

.reveal img.spam-logo{
	margin: -10px;
}

/*---------------------------*/
/*      Just Dance           */
/*---------------------------*/

#jd-dancers-container {
	display: flex;
	flex-direction: row;
	height: 440px;
}

#jd-dancers-container img{
	flex: 1;
}

/*---------------------------*/
/*      Hearthstone Top 8    */
/*---------------------------*/

#hs-top8-container {
	display: flex;
	flex-direction: row;
}

.hs-top8-column {
	flex: 1;
}