#a5l-logo {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 100px;
	height: 100px;
	background: url("../img/a5l_logo.png") no-repeat;
	background-size: 100% 72%;
}

#sponsor-slide {
	display: flex;
}

#sponsors-container {
	display: flex;
	flex-direction: row;
    flex: 1;
}

h3.black-title,
h5.black-title {
	color: black;
	text-shadow: none;
}

/*---------------------------*/
/*      Premium Sponsors     */
/*---------------------------*/

#premium-sponsors-container {
	flex: 1;
	flex-direction: column;
}

#premium-sponsors-logos-container {
	flex-direction: column;
	flex: 1;
}

.premium-sponsor-logo-container {
	display: block;
	flex: 1;
	background-repeat: no-repeat;
	background-position: center;
	height: 175px;
	background-size: 60%;
}

/*---------------------------*/
/*     Normal Sponsors       */
/*---------------------------*/

#normal-sponsor-container {
	flex-direction: column;
	flex: 1;
}

#normal-sponsors-logos-container {
	flex-direction: row;
	flex: 1;
}

.normal-sponsors-column {
	flex-direction: column;
	flex: 1;
}

.normal-sponsor-logo-container {
	display: block;
	flex: 1;
	background-repeat: no-repeat;
	background-position: center;
	height: 175px;
	background-size: 40%;
}

/*---------------------------*/
/*        Logo's             */
/*---------------------------*/

#topicus-logo {
	background-image: url("../img/sponsors/Topicus_Logo.svg");
}

#innovattic-logo {
	background-image: url("../img/sponsors/Innovattic_Logo.svg");
}

#keylane-logo {
	background-image: url("../img/sponsors/Keylane_Logo.svg");
}

#asml-logo {
	background-image: url("../img/sponsors/ASML_logo.png");
}

#corsair-logo {
	background-image: url("../img/sponsors/Corsair_Logo.png");
}

#ordina-logo {
	background-image: url("../img/sponsors/Ordina-logo.png");
}

#spam-logo {
	background-image: url("../img/sponsors/spam-logo.jpg");
}

#startselect-logo {
	background-image: url("../img/sponsors/startselect-logo.png");
}

#transip-logo {
	background-image: url("../img/sponsors/transip_logo.png");
}